/* ===== RISET & BESE =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* agar padding tidak menambah lebar elemen*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: #f2f3f4;
}

/* ===== SELECTOR ELEMEN ===== */
h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2{
    font-size: 1.4rem;
    color: #1a5276;
    border-bottom: 2px solid #aed6f1;
    padding-bottom: 6px;
}

p {
    margin-bottom: 8px;
    text-align: justify;
}

code {
    background-color: #ebf5fb;
    color: #1a5276;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

/* ===== PROPERTI TEKS ===== */
.teks-kecil {
    font-size: 0.85rem;
    color: #7f8c8d;
    font-style: italic;
}

.teks-besar {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 4px;
    color: #1a5276;
}

.teks-bayangan {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2e86c1;
    text-shadow: 2px 2px 0px rgba(26, 82, 118, 0.3);
}

.teks-kapital {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 0.9rem;
    color: #ca6f1e;
}

/* ===== BACKGREOUND ====== */
#demo-warna {
    background-color: #ebf5fb;
    border-color: #2e86c1;
}

.demo-bg {
    background: linear-gradient(120deg, #1a5276, #2e86c1, #aed6f1);
    color: white;
    border-bottom-color: rgba(255 ,255 ,255 , 0.4);
}

demo-bg p {
    color: rgba(255 ,255 ,255 , 0.9);
}

/* grouping slection */
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* descendant slector: <p> di dalam .kartu.heghlight */
.kartu.highlight p {
    color: #7d6608;
}

/* pseudo-class: saat elemen .kartu di hover */
.kartu.hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transform: translate(-2px);
    transition: all 0.3s ease;
}
/* universal slector - jarang di gunaka selain untuk riset */
/* * { outline: 1px solid red; } /* aktivuntuk debug layout */